<md-sidenav-container fullscreen [class.dark-theme]="isDarkTheme" [class.light-theme]="!isDarkTheme" id="app-background">
    <md-sidenav #start mode="side" class="app-sidenav">
        <md-nav-list>
            <a md-list-item routerLink="/">Home</a>
            <a md-list-item routerLink="/about">About</a>
            <a md-list-item routerLink="/contact">Contact Us</a>
        </md-nav-list>
        <md-nav-list *ngIf="!isLoggedIn()">
            <a md-list-item routerLink="/login">Login</a>
            <a md-list-item routerLink="/register">Register</a>
        </md-nav-list>
        <md-nav-list *ngIf="isLoggedIn()">
            <a md-list-item routerLink="/dashboard">Dashboard</a>
        </md-nav-list>
        <button md-button *ngIf="isLoggedIn()" (click)="onLogoutClick()">LOGOUT</button>
        <hr>
        <button md-button (click)="changeTheme()">TOGGLE THEME</button>
        <hr>
        <button md-button (click)="start.close()">CLOSE</button>
    </md-sidenav>
    <md-toolbar layout="row" color="primary">
        <button md-icon-button (click)="start.toggle()">
            <md-icon>menu</md-icon>
        </button>
        {{ title }}
        <span class="app-toolbar-filler"></span>
        <!--<div *ngIf="auth.loggedIn()">{{ username }}</div>-->
        <div *ngIf="!isLoggedIn()"><a routerLink="/register">Register</a><span>&nbsp;/&nbsp;</span><a routerLink="/login">Login</a></div>
    </md-toolbar>
    <div class="app-content">
        <flash-messages></flash-messages>
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>